<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project3-Tipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B8042FF1CC1B586004025C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8043131CC1B586004025C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B80431E1CC1B587004025C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
